<script type="text/javascript" src="{{ uploadify_path }}swfobject.js"></script>
<script type="text/javascript" src="{{ uploadify_path }}jquery.uploadify.js"></script>
<div id="uploadify" class="multi_file_upload"><input id="fileInput" name="fileInput" type="file" /></div>
<script type="text/javascript">// <![CDATA[
    $(document).ready(function() {
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) { //test for MSIE x.x;
            var ieversion=new Number(RegExp.$1) // capture x.x portion and store as a number
            if (ieversion < 8)
                return;
        }
        $('#fileInput').uploadify({
            'uploader': '{{ uploadify_path }}uploadify.swf',
            'script': '{% url uploadify_upload %}{{ GET_query }}',
            'cancelImg': '{{ uploadify_path }}cancel.png',
            'auto': true,
            'removeCompleted': false,
            'multi': true,
            'onAllComplete': uploadify_allComplete,
            'onCancel': uploadify_cancelUpload
        });
    });

    function uploadify_allComplete(event, data) {
        $('#uploadify').trigger('allUploadsComplete', data);
    }
    function uploadify_cancelUpload(event, data) {
        $('#uploadify').trigger('cancelUpload', data);
    }
// ]]></script>
